<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
  <script>
  // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBWZn2_nhUZdv5XNN-q5RSYHoBQvngrROU",
      authDomain: "firechat-776ca.firebaseapp.com",
      databaseURL: "https://firechat-776ca.firebaseio.com",
      storageBucket: "firechat-776ca.appspot.com",
      messagingSenderId: "467581800555"
    };
    firebase.initializeApp(config);
  </script> 

  <!-- Firechat -->
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />
  <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>
</head>
